<div class="ae-container-fluid backgroundHome1">
    <div class="ae-container-fluid ">
        <div class=" ae-grid backgroundHome">

            <div class="ae-grid__item item-sm-6 item-xs-12 item-sm--center item-xs--center item-lg--center  ">

                <h1>Texto de pruembara dsjafkfja´fds</h1>
                <p>disdfnnfsgnkjksdgjgkskjgndjsng</p>


                <p class="au-flex group-buttons"><a routerLink="home" class="au-mt-4 arrow-button arrow-button--left ">Nuestros
            productos<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></p>


            </div>
        </div>
    </div>
</div>
<div class="ae-grid  ">
    <div class="ae-grid__item item-lg--auto  item-sm--12 item-xs--12 p-3">

        <img src="../../../assets/img/add.svg" alt="" class="w-100" />
        <h3 class="text--center au-xs-ptp-1">Elige tu plan</h3>
        <p class="au-xs-ptp-1">Facturar mensualmente, comprar un regalo, pagar por adelantado o cualquier cosa intermedia ... ¡Depende de usted! No hay contrato , cancelar en cualquier momento. </p>
    </div>
    <div class="ae-grid__item item-lg--auto  item-sm--12 item-xs--12 p-3">

        <img src="../../../assets/img/order.svg" alt="" class="w-100" />
        <h3 class="text--center au-xs-ptp-1">Construimos tu caja</h3>
        <p class="au-xs-ptp-1 ">¡Nuestro nutricionista bla bla bla deleitarán, emocionarán incluso a los amantes de la comida más sofisticados!
        </p>
    </div>
    <div class="ae-grid__item item-lg--auto  item-sm--12  item-xs--12 p-3">

        <img src="../../../assets/img/box.svg" alt="" class="w-100" />
        <h3 class="text--center au-xs-ptp-1">¡ Ha llegado !</h3>
        <p class="au-xs-ptp-1">Ya sea un regalo para usted o un regalo para un ser querido consciente de la salud, estamos seguros de que amará su UmamiBox ... ¡Disfrute! </p>
    </div>
    <div class="ae-grid__item item-lg--auto  item-sm--12  item-xs--12 p-3">

        <img src="../../../assets/img/drink.svg" alt="" class="w-100" />
        <h3 class="text--center au-xs-ptp-1">¡ Disfruta !</h3>
        <p class="au-xs-ptp-1">Ya sea un regalo para usted o un regalo para un ser querido consciente de la salud, estamos seguros de que amará su UmamiBox ... ¡Disfrute! </p>
    </div>
</div>

<div class="ae-grid ae-grid--collapse">


    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
            <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
                <h4 class="ae-u-bolder">¿ Qué es Umami ? </h4>
                <p class="ae-eta">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>

            </div>
            <div class="ae-grid__item item-lg-6 item-lg--offset-1">
                <img src="../../../assets/img/frutas3.png" alt="algo">
            </div>
        </div>

    </div>


    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">

        <div class="ae-grid ae-grid--collapse  au-lg-ptp-1">
            <div class="ae-grid__item item-lg-6 ">
                <img src="../../../assets/img/orange-summer.jpg" alt="algo">
            </div>
            <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
                <h4 class="ae-u-bolder">¿Porqué es importante alimentarse saludable? </h4>
                <p class="ae-eta">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>

            </div>

        </div>

    </div>


    <div class="ae-grid  ">
        <div class="ae-grid__item item-lg--auto card item-sm--12 item-xs--12 p-3">

            <img src="../../../assets/img/non-gmo.png" alt="" class="w-50" />
            <h4 class="text--center ">NO PRODUCTOS GMO</h4>
            <p class="">Importancia del GMO la bla bla bla ba bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
        </div>
        <div class="ae-grid__item item-lg--auto card  item-sm--12 item-xs--12 p-3">

            <img src="../../../assets/img/compostable.png" alt="" class="w-50" />
            <h4 class="text--center">100% NATURAL</h4>
            <p class="">Lo natural bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            </p>
        </div>
        <div class="ae-grid__item item-lg--auto card  item-sm--12  item-xs--12 p-3">

            <img alt="" src="../../../assets/img/no-added-sugars.png" class="w-50" />
            <h4 class="text--center ">TU SALUD IMPORTA</h4>
            <p class="">Ya sea un regalo para usted o un regalo para un ser querido consciente de la salud, estamos seguros de que amará su UmamiBox ... ¡Disfrute! </p>
        </div>
    </div>