<div class="ae-container--full backgroundHome1">
    <div class="ae-container-fluid ">
        <div class=" ae-grid backgroundHome">

            <div class="ae-grid__item item-sm-6 item-xs-12 item-sm--center item-xs--center item-lg--center  ">

                <h1>BATIDOS EN 3 SIMPLES PASOS</h1>
                <p>Smoothies Instantáneos, la forma más práctica de consumir tus frutas, verduras y superalimentos en la mañana con todos los nutrientes necesarios.</p>
                <p> 100% NATURAL | NO AZUCAR AÑADIDO | EMPAQUE LIBRE COVID-19</p>
                <a href="#" class="btnBorder btnBorder--xl">
                    <svg>
            <rect></rect>
          </svg>Nuestros productos
                </a>
            </div>
        </div>
    </div>
</div>
<section class="ae-container-fluid ">
    <div class="ae-grid  ">

        <div class="ae-grid__item item-lg--auto card item-sm--12 item-xs--12 p-3">

            <img src="../../../assets/img/icon1.png" alt="" class="w-100" />
            <h3 class="text--center au-xs-ptp-1">Vierte tu batido</h3>
            <p class=" ">Inserta 200mL del sabor UMAMI en tu recipiente.
            </p>
        </div>
        <div class="ae-grid__item item-lg--auto card item-sm--12  item-xs--12 p-3">

            <img src="../../../assets/img/icon2.png" alt="" class="w-100" />
            <h3 class="text--center au-xs-ptp-1">Añade tu liquido favorito</h3>
            <p class="">Vierta 150 mL de agua, leche de almendra, yogurt, etc. </p>
        </div>
        <div class="ae-grid__item item-lg--auto  card item-sm--12  item-xs--12 p-3">

            <img src="../../../assets/img/icon3.png" alt="" class="w-100" />
            <h3 class="text--center au-xs-ptp-1">Agitar el batido</h3>
            <p class="">Mezclar por 15 segundos hasta tener la consistencia deseada y disfruta.</p>
        </div>
    </div>
    <div class="ae-grid">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <p class="text--center">IMPULSA TU MAÑANA CON ESE BOOST DIARIO</p>
            <h2 class="ae-u-bolder text--center">Manten el control con asesoramiento nutricional personalizado de nuestros dietistas !</h2>
            <p class="text--center">Toda la vitalidad en una botella.</p>
        </div>
    </div>
    <div class="ae-grid ae-grid--collapse">


        <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
            <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
                <div class="ae-grid__item item-lg-5  au-xs-pbp-1 ">
                    <h4 class="ae-u-bolder">¿ Qué es Umami ? </h4>
                    <p class="ae-eta">Transformamos las frutas, verduras y superfoods en prácticos batidos instantáneos de una sola porción. Nosotros selecciamos todo orgánico, los lavamos, cortamos y licuamos por ti.<span class="ae-u-bolder"> Tú solo procúpate en preparárlo en muy poco tiempo,nosotros hacemos lo demás.</span>
                    </p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSecrbCVaAMcGRC293FOIXxRO4nwfX36JPSUWcjxtD8ixYmvOg/viewform" class="btnBorder btnBorder--lg border-black ae-u-bolder">
                        <svg>
              <rect></rect>
            </svg>COMPRA AHORA !
                    </a>

                </div>
                <div class="ae-grid__item item-lg-6 item-lg--offset-1">
                    <img src="../../../assets/img/focus-3.png" alt="algo">
                </div>
            </div>

        </div>


        <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner ">

            <div class="ae-grid ae-grid--collapse  au-lg-ptp-1">
                <div class="ae-grid__item item-lg-6 ">
                    <img src="../../../assets/img/frutas3.png" alt="algo">
                </div>
                <div class="ae-grid__item item-lg-5 item-lg--offset-1 ">
                    <h4 class="ae-u-bolder  au-lg-ptp-1">VITALIDAD EN UNA BOTELLA</h4>
                    <p class="ae-eta">Sabores que se adapten a tu vida, repletos de nutrientes especiales de los mejores agricultores, sin desperdiciar nada. Desde antioxidantes que combaten la inflamación hasta fibra para el instenino, con abundancia en vitaminas y minerales.
                        Todo lo bueno en su mejor forma <span class="ae-u-bold">natural</span></p>

                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSecrbCVaAMcGRC293FOIXxRO4nwfX36JPSUWcjxtD8ixYmvOg/viewform" class="btnBorder btnBorder--lg border-black ae-u-bolder">
                        <svg>
              <rect></rect>
            </svg> CONSIGUE EL TUYO
                    </a>
                </div>

            </div>

        </div>


        <div class="ae-grid  ">
            <div class="ae-grid__item item-lg--auto card item-sm--12 item-xs--12 p-3">

                <img src="../../../assets/img/non-gmo.png" alt="" class="w-50" />
                <div>
                    <h4 class="text--center ">NO PRODUCTOS GMO</h4>
                    <p class="">Importancia del GMO la bla bla bla ba bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
                </div>
            </div>
            <div class="ae-grid__item item-lg--auto card  item-sm--12 item-xs--12 p-3">

                <img src="../../../assets/img/compostable.png" alt="" class="w-50" />
                <div>
                    <h4 class="text--center">100% NATURAL</h4>
                    <p class="">Lo natural bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    </p>
                </div>
            </div>
            <div class="ae-grid__item item-lg--auto card  item-sm--12  item-xs--12 p-3">

                <img alt="" src="../../../assets/img/no-added-sugars.png" class="w-50" />
                <div>
                    <h4 class="text--center ">TU SALUD IMPORTA</h4>
                    <p class="">Ya sea un regalo para usted o un regalo para un ser querido consciente de la salud, estamos seguros de que amará su UmamiBox ... ¡Disfrute! </p>
                </div>
            </div>
        </div>


        <div class="ae-grid w-100 ">
            <div class="ae-grid__item item-lg-8 item-lg--offset-2 ">
                <h2 class="ae-u-bolder text--center">ADQUIERE TU PLAN SEMANAL</h2>
                <p class="text--center">Confía en tu desayuno saludable y fresco cada día.</p>
                <div class="ae-grid">
                    <div class="ae-grid__item item-lg--auto  card item-sm--auto  item-xs--auto  p-3">

                        <img src="../../../assets/img/img2.jpg" alt="" class="w-100" />
                        <h3>PLAN BASIC</h3>
                        <p>Rinde 3 porciones UMAMI hasta 350 mL. Disfrútalo!</p>


                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSecrbCVaAMcGRC293FOIXxRO4nwfX36JPSUWcjxtD8ixYmvOg/viewform" class="btnBorder border-black ae-u-bolder">
              COMPRAR S/ 20.40 <svg>
                <rect></rect>
              </svg> </a>
                    </div>
                    <div class="ae-grid__item item-lg--auto  card item-sm--auto  item-xs--auto  p-3">

                        <img src="../../../assets/img/img.jpg" alt="" class="w-100" />
                        <h3>PACK REGULAR</h3>
                        <p>Rinde 6 porciones UMAMI hasta 350 mL + Snack SuperFood.</p>



                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSecrbCVaAMcGRC293FOIXxRO4nwfX36JPSUWcjxtD8ixYmvOg/viewform" class="btnBorder border-black ae-u-bolder">
              COMPRAR S/ 39.50 <svg>
                <rect></rect>
              </svg> </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="ae-grid w-100 ">
            <div class="ae-grid__item item-lg-8 item-lg--offset-2 au-lg-ptp-1">
                <p class="text--center w-100">NO TE PREOCUPES POR RECOLECTAR LOS INGREDIENTES </p>
                <h2 class="ae-u-bolder text--center">Sino por valorar tu tiempo, al prepararlo</h2>
                <p class="text--center">3 simples pasos en solo 15 segundos.</p>
                <iframe class="w-100 h-100" src="https://www.youtube.com/embed/fqhYBTg73fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="ae-grid w-100 au-lg-ptp-1">
            <div class="ae-grid__item item-lg-8 item-lg--offset-2">
                <p class="text--center">OBTENGA MÁS DE LA VIDA NATURAL</p>
                <h2 class="ae-u-bolder text--center">LIBRE DE GMO | SIN PRODUCTOS QUÍMICOS | SIN GLUTEN | SIN AZUCAR AÑADIDO | VEGANO
                </h2>
                <p class="text--center">La Comunidad UMAMI te cuentan un poco de su compra.</p>
            </div>
        </div>
        <div class="w-100">
            <swiper [config]="config">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide card">
                        <div>
                            <img alt="" src="../../../assets/img/CLIENTE1.png" class="w-50" />
                            <h4 class="text--center ">Dayana Mallqui</h4>
                        </div>
                        <p class="">UMAMI es una manera fácil de asegurarme de tener mis porciones de verduras y frutas cada día. ¡Además son deliciosos! Puedo llevarlo en cualquier lado en mi shacker, puedo consumirlo entre tiempos de trabajo. </p>
                    </div>
                    <div class="swiper-slide card">
                        <div>
                            <img alt="" src="../../../assets/img/CLIENTE2.png" class="w-50" />
                            <h4 class="text--center ">Mishell Finch</h4>
                        </div>
                        <p class="">¡Perfecto y fácil de hacer! ¿Y qué puedo decir sobre los nuevos batidos con proteínas? No puedo dejar de consumirlos, adoro sus productos y cómo utilizan todo orgánico y compostable! Una experiencia buena

                        </p>
                    </div>
                    <div class="swiper-slide card">
                        <div>
                            <img alt="" src="../../../assets/img/CLIENTE3.png" class="w-50" />
                            <h4 class="text--center ">Ernesto López</h4>
                        </div>
                        <p class="">Mi orden estuvo intacta y entrega rápida el día que pude programarlo, realmente admiro la experiencia y comunicación rápida. La calidad del smoothie tiene el sabor inexplicable, quiero más ! </p>
                    </div>
                    <div class="swiper-slide card">
                        <div><img alt="" src="../../../assets/img/CLIENTE4.png" class="w-50" />
                            <h4 class="text--center ">Antonella Chiang</h4>
                        </div>
                        <p class="">Les he estado diciendo a todos. Son muy sabrosos y convenientes. ¡Una buena manera de consumir sus frutas y verduras diarias y muy rápido de preparar! Consumo antes de mi trainning y tengo energía </p>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </swiper>
        </div>



        <div class="ae-grid w-100 au-lg-ptp-1">
            <div class="ae-grid__item item-lg-8 item-lg--offset-2">

                <h2 class="ae-u-bolder text--center">Respaldo Institucional
                </h2>
                <p class="text--center"> Ellos confían en nosotros y estamos siempre para poder apoyarnos entre todos.</p>

                <div class="ae-grid">
                    <div class="ae-grid__item item-lg--auto  card item-sm--auto  item-xs--auto  p-3">

                        <img src="../../../assets/img/UV.png" alt="" class="w-100" />
                    </div>
                    <div class="ae-grid__item item-lg--auto  card item-sm--auto  item-xs--auto  p-3">

                        <img src="../../../assets/img/UTEC.png" alt="" class="w-100" />
                    </div>
                    <div class="ae-grid__item item-lg--auto  card item-sm--auto  item-xs--auto  p-3">

                        <img src="../../../assets/img/BA.png" alt="" class="w-100" />
                    </div>
                    <div class="ae-grid__item item-lg--auto  card item-sm--auto  item-xs--auto  p-3">

                        <img src="../../../assets/img/SO.png" alt="" class="w-100" />
                    </div>
                </div>
            </div>
        </div>

        <div class=" w-100 au-lg-ptp-1 card">

            <p class="text--center ">LLAMADO A LA ACCIÓN</p>
            <h2 class="ae-u-bolder text--center Text-invt">UMAMI Smoothies ya está disponible
            </h2>
            <p class="text--center ">Te damos uno de muchos tips, UMAMI no son solo para preparate tus smoothies, también puedes disfrutar en familia jugos, smoothie bowl, pasteles helados y más. Suscríbete al correo y recibes recetas exclusivas cada semana.</p>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSecrbCVaAMcGRC293FOIXxRO4nwfX36JPSUWcjxtD8ixYmvOg/viewform" class="btnBorder border-black ae-u-bolder">
        Suscríbete Ahora !<svg>
          <rect></rect>
        </svg> </a>
        </div>

    </div>
</section>